@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Public Sans", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

.marquee {
  height: 220px;
}

.marquees {
  height: 220px;
}

.track {
  animation: marquee 30s linear infinite;
}

.track2 {
  animation: marquees 30s linear infinite;
}

.paused .track {
  animation-play-state: paused;
}
.paused .track2 {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes marquees {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
